<!DOCTYPE html>
<html>
  <head>
    <title>Cucumber Feature Report</title>
    <style type="text/css">
     <%= styles %>
    </style>
    <meta charset="UTF-8">
  </head>
  <body>
    <%= features %>
    <script>
        <%= script %>
    </script>
  </body>
</html>
