body {
    font: 14px Consolas, Courier, monospace;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.highlight {
    font-weight: bold;
}

.failed {
    color: darkred;
    font-weight: bold;
}

.step-error-message {
    color: darkred;
    margin: 0 0 0 10px;
}

.passed {
    color: green;
}

.skipped {
    color: #999;
}

.step {
    margin: 4px 0;
}

.step .text {
    border-radius: 3px;
    display: block;
}

.step .screenshot {
    border: solid 1px #CCC;
    height: 100%;
    width: 100%;
}

.step-screenshot-wrap {
    margin-left: 10px;
}

.container {
    background: #f8f8f8;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    padding: 10px;
    margin: 10px;
}

#danger {
    background-color: #f66666;
}