<!DOCTYPE html>
<html>
  <head>
    <title>Cucumber Feature Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/4.3.2/css/foundation.min.css">
    <style type="text/css">
      <%= styles %>
    </style>
    <meta charset="UTF-8">
  </head>
  <body>
    <header>
      <div class="row">
        <div class="large-6 columns">
          <h1 class="subheader"><%= suite.name %></h1>
          <h4 class="subheader">Feature tests</h4>
        </div>
        <div class="large-6 columns right-col">
          <h1 class="subheader"><%= suite.version %></h1>
          <h4 id="buildTime" class="subheader"><%= suite.time %></h4>
        </div>
      </div>
    </header>
    <br /><br />

    <%= features %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script>
      <%= script %>
    </script>

  </body>
</html>
